<!-- <p>new-invoice works!</p>
<p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
  farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts
  ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar
  helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson
  8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
  stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p> -->
<div class="container">
  <div [hidden]="submitted">
    <h1>New Invoice Form</h1>
    <form (ngSubmit)="onSubmit(invoiceForm)" #invoiceForm="ngForm">
      <div class="form-group">
        <label for="privatekey">Private Key</label>
        <input type="password" class="form-control" id="privatekey" required [(ngModel)]="privateKey" name="privatekey"
          #privatekey="ngModel">
        <div [hidden]="privatekey.valid || privatekey.pristine" class="alert alert-danger">
          Account Address is required
        </div>
      </div>

      <div class="form-group">
        <label for="clientName">Client Name</label>
        <input type="text" class="form-control" id="clientName" required [(ngModel)]="model.clientName"
          name="clientName" #clientName="ngModel">
        <div [hidden]="clientName.valid || clientName.pristine" class="alert alert-danger">
          Client Name is required
        </div>
      </div>

      <div class="form-group">
        <label for="invoiceNumber">Invoice Number</label>
        <input type="text" class="form-control" id="invoiceNumber" required [(ngModel)]="model.invoiceNumber"
          name="invoiceNumber" #invoiceNumber="ngModel">
        <div [hidden]="invoiceNumber.valid || invoiceNumber.pristine" class="alert alert-danger">
          Invoice Number is required
        </div>
      </div>

      <div class="form-group">
        <label for="netTerms">Net Terms</label>
        <input type="text" class="form-control" id="netTerms" required [(ngModel)]="model.netTerms" name="netTerms"
          #netTerms="ngModel">
        <div [hidden]="netTerms.valid || netTerms.pristine" class="alert alert-danger">
          Net Terms is required
        </div>
      </div>

      <div class="form-group">
        <label for="numberHours">Number Of Hours</label>
        <input type="text" class="form-control" id="numberHours" required [(ngModel)]="model.numberHours"
          name="numberHours" #numberHours="ngModel">
        <div [hidden]="numberHours.valid || numberHours.pristine" class="alert alert-danger">
          Number Of Hours is required
        </div>
      </div>

      <div class="form-group">
        <label for="amount">Amount Of Invoice</label>
        <input type="text" class="form-control" id="amount" required [(ngModel)]="model.amount" name="amount"
          #amount="ngModel">
        <div [hidden]="amount.valid || amount.pristine" class="alert alert-danger">
          Amount Of Invoice is required
        </div>
      </div>

      <!-- <label for="timesheetend">Time sheet ending date</label>
      <ngb-datepicker #dp [(ngModel)]="dateModel" placeholder="yyyy-mm-dd" (navigate)="navigateTimeSheetEndDate($event)"></ngb-datepicker> -->
      <div class="input-group">
        <label for="timesheetend">Time sheet ending date</label>
        <input class="form-control" placeholder="yyyy-mm-dd" name="timesheetend" [(ngModel)]="timesheetEnddateModel" ngbDatepicker #timesheetend="ngbDatepicker">

        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="timesheetend.toggle()" type="button">📅</button>
        </div>

      </div>

      <div class="input-group">
        <label for="invoicesentdate">Invoice sent date</label>
        <input class="form-control" placeholder="yyyy-mm-dd" name="invoicesentdate" [(ngModel)]="invoicesentDateModel" ngbDatepicker #invoicesentdate="ngbDatepicker">

        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="invoicesentdate.toggle()" type="button">📅</button>
        </div>

      </div>
      <!-- <div class="form-group">
          <label for="alterEgo">Account Address</label>
          <input type="text" class="form-control" id="address" [(ngModel)]="model.address" name="accountAddress">
        </div> -->

      <button type="submit" class="btn btn-success" [disabled]="!invoiceForm.form.valid">Submit</button>
      <!-- <button type="button" class="btn btn-default" (click)="newHero(); clientForm.reset()">New Hero</button>
        <i>with</i> reset

        &nbsp;&nbsp;
        <button type="button" class="btn btn-default" (click)="newHero()">New Hero</button>
        <i>without</i> reset -->

      <!-- NOT SHOWN IN DOCS -->
      <div>
        <hr>
        Form values via form.controls = {{showFormControls(invoiceForm)}}
      </div>
      <!-- - -->
    </form>
  </div>

  <!-- this.clientName = this.model.clientName;
  this.invoiceNumber = this.model.invoiceNumber.toString();
  this.invoiceSentDate = _date.toDateString();
  this.netTerms = this.model.netTerms.toString();
  this.numberHours = this.model.numberHours.toString();
  this.amount = this.model.amount;

  this.timesheetEndDate = this.model.sTimesheetEndDate;
  this.due30DaysDate = new Date(_30days * 1000).toDateString();
  this.due60DaysDate = new Date(_60days * 1000).toDateString();
  this.due90DaysDate = new Date(_90days * 1000).toDateString();
  this.due120DaysDate = new Date(_120days * 1000).toDateString(); -->

  <div [hidden]="!submitted">
    <h2>You submitted the following New Invoice:</h2>
    <div class="row">
      <div class="col-xs-3">Client Name: </div>
      <div class="col-xs-9">{{ model.clientName }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Invoice Number: </div>
      <div class="col-xs-9">{{ model.invoiceNumber }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Net Terms: </div>
      <div class="col-xs-9">{{ model.netTerms }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Amount: </div>
      <div class="col-xs-9">{{ model.amount }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Number Of Hours: </div>
      <div class="col-xs-9">{{ model.numberHours }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Timesheet End Date: </div>
      <div class="col-xs-9">{{ timesheetEndDate }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Timesheet Sent Date: </div>
      <div class="col-xs-9">{{ invoiceSentDate }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">30 Days Due Date: </div>
      <div class="col-xs-9">{{ due30DaysDate }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">60 Days Due Date: </div>
      <div class="col-xs-9">{{ due60DaysDate }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">90 Days Due Date: </div>
      <div class="col-xs-9">{{ due90DaysDate }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">120 Days Due Date: </div>
      <div class="col-xs-9">{{ due120DaysDate }}</div>
    </div>
    <br>
    <!-- <button class="btn btn-primary" (click)="submitted=false">New</button> -->
    <button class="btn btn-primary" (click)="newInvoice()">New</button>
  </div>
</div>
